<div class="cap_page">	
</div>

<navbar></navbar>

<div class="auth_content">
<h1 class="heading">Ambassador</h1>
 <div class="container">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <button style="background:transparent;color:white;border:1px solid white;" class="btn btn-lg" data-toggle="modal" data-target="#capregister">Register as an Ambassador</button>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3 style="text-align:center;">
    	A Chemclave Campus ambassador is the 'Face of Chemclave' in his college-exclusive handpicked students from different colleges across the country who helps students in their colleges to know about how they can live their dream careers through opportunities on chemclave.
    </h3>

    <h3 style="text-align:center;">
       If you think you are awesome, have great networking skills, an envious social networking, you’re just the person we’re looking for. Be a  campus ambassador and join our Chemclave group
    </h3><hr>

    <h2>DUTIES :</h2>
     <ul>
      <li>
      	<h3>Participate and promote – encourage people from your college to participate in our events and workshops</h3>
      </li>
      <li>
        <h3>Execute on ground publicity of Chemclave's events via posters and your networking skills</h3>
      </li>
      <li>
        <h3>Update the students regularly about Chemclave's activities through mails and other modes of communication</h3>
      </li>
      <li>
        <h3>Share the latest activities of Chemclave through whichever social media common in your college</h3>
      </li>
      <li>
        <h3>Bridge the gap between your college participants, authorities and team Chemclave for exchange of queries and information</h3>
      </li>
     </ul><hr>
    
    <h2>BENEFITS :</h2>
     <ul>
      <li>
      	<h3>Skill development</h3>
      </li>
      <li>
        <h3>A chance to enhance your leadership and social skills</h3>
      </li>
     </ul><hr>

    <h2>INCENTIVES :</h2>
     <ul>
      <li>
      	<h3>Certificate of organisation</h3>
      </li>
      <li>
        <h3>Ambassador of the year</h3>
      </li>
      <li>
        <h3>Free T-shirts(top 10)</h3>
      </li>
      <li>
        <h3>Letter of excellence(top 10)</h3>
      </li>
     </ul><hr>

    <h2>CONTACT :</h2>
     <ul>
      <li>
       <h3>Rajeshwari Banoth - 9790469778</h3>
      </li>
      <li>
       <h3>Vineeth Kumar - 9677019998</h3>
      </li>
     </ul>         

   </div>
 </div>  
</div>

<div id="capregister" class="modal fade" style="z-index:9999;" tabindex="-1" role="dialog">
 <div class="modal-dialog" role="document">
  <div style="box-shadow:5px 5px 20px 10px #cc3921;" class="modal-content custom_modal">
   <div class="modal-body">
       <label>Name</label>  
         <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span> 
          <input style="background: transparent;color: white;" type="text" name="name" class="form-control" ng-model="capuser.name" required/>
         </div><br>

        <label>College</label>  
         <div class="input-group">
          <span class="input-group-addon"><span class="fa fa-university"></span></span> 
          <input style="background: transparent;color: white;" type="text" name="college" class="form-control" ng-model="capuser.college" required/>
         </div><br>

        <label>Year</label>  
         <div class="input-group">
          <span class="input-group-addon"><span class="fa fa-university"></span></span> 
          <input style="background: transparent;color: white;" type="text" name="year" class="form-control" ng-model="capuser.year" required/>
         </div><br>

        <label>Mobile No.</label>  
         <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span> 
          <input style="background: transparent;color: white;" type="text" name="mobile" class="form-control" ng-model="capuser.mobile" required/>
         </div><br>

        <label>City</label>  
         <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span> 
          <input style="background: transparent;color: white;" type="text" name="city" class="form-control" ng-model="capuser.city" required/>
         </div><br>

        <label>Address</label>  
         <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span> 
          <input style="background: transparent;color: white;" type="text" name="address" class="form-control" ng-model="capuser.address" required/>
         </div><br>

        <label>Email</label>  
         <div class="input-group">
          <span class="input-group-addon"><span class="fa fa-envelope"></span></span> 
          <input style="background: transparent;color: white;" type="text" name="email" class="form-control" ng-model="capuser.email" required/>
         </div><br> 
   </div>
     <div class="modal-footer">
        <button style="background:transparent;color:white;border:1px solid white;" data-dismiss="modal" class="btn">Close</button>
        <button style="background:transparent;color:white;border:1px solid white;"
        ng-click="capregister()" data-dismiss="modal" class="btn">Register</button>
     </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
