$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.body{
   overflow-x:hidden;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.social_icons_set{
  position:fixed;
  bottom: 8vh;
  right:2vw;
  z-index: 999;
}

.social_icons{
  width:8vh;
  height:8vh;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: coral;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: mintcream;
}
::-webkit-scrollbar-thumb:active {
  background: coral;
}
::-webkit-scrollbar-track {
  background: #666666;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

// Component styles are injected through grunt
/* inject:scss */
@import 'aboutus/aboutus.scss';
@import 'admin/admin.scss';
@import 'contacts/contacts.scss';
@import 'eventcategory/eventcategory.scss';
@import 'events/events.scss';
@import 'gallery/gallery.scss';
@import 'main/main.scss';
@import 'sponsors/sponsors.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
/* endinject */
