$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

@import "https://fonts.googleapis.com/css?family=Josefin+Sans";
@import 'https://fonts.googleapis.com/css?family=Merriweather|Oswald|Alex+Brush';

/**
 * App-wide Styles
 */

body{
   overflow-x:hidden;
}

.heading{
  font-family: 'Alex Brush', sans-serif;
  color: #fcf8e3;
  text-align:center;
  font-size: 60px;
}

.line{
   width: 30px;
   height: 5px;
   background-color: #fcf8e3;
   margin: 6px 0;
}

/* auth pages*/

.auth_pages{
  width:100vw;
  height:100vh;
  z-index:-100;
  position:fixed;
  background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('../assets/images/home.jpg');
  background-size: 100% 100%;
}

.auth_content{
  position: absolute;
  top:2vh;
  left:3vw;
  color: #fcf8e3;
  font-family: 'Josefin Sans', sans-serif;
}

/* links css code begins */
.cap_toggle{
  position: fixed;
  z-index:20;
  right:0vw;
  bottom: 0vh;
  width: 20vw;
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 20px 10px #f2dede;
  color: #fcc850;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  font-family: 'Alex Brush', sans-serif;
}

/* links css code ends */

/* navbar css */

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* navbar ends /*

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* scroll bar css */

::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: mintcream;
  width:8px;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: mintcream;
}
::-webkit-scrollbar-thumb:active {
  background: coral;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-track:hover {
  background: black;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

// Component styles are injected through grunt
/* inject:scss */
@import 'admin/admin.scss';
@import 'cap/cap.scss';
@import 'events/events.scss';
@import 'main/main.scss';
@import 'sponsors/sponsors.scss';
@import 'team/team.scss';
@import 'workshops/workshops.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
/* endinject */
