<div ng-show="hide() == 'main'" ui-sref="cap" class="hidden-xs hidden-sm cap_toggle">
 <p style="margin-top:5%;font-size: 18px;">Campus Ambassador Programme !</p> 
</div>

<div ng-show="hide() == 'events'" class="hidden-xs hidden-sm cap_toggle">
 <p style="margin-top:5%;font-size: 24px;"><a target="_blank" href="../../assets/files/schedule_2017.pdf">Events Schedule</a></p> 
</div>

<div ng-show="hide() == 'workshops'" class="hidden-xs hidden-sm cap_toggle">
 <p style="margin-top:5%;font-size: 24px;"><a target="_blank" href="../../assets/files/schedule_2017.pdf">Workshops Schedule</a></p> 
</div>