<div ng-show="hide() == 'main'" ui-sref="cap" class="hidden-xs hidden-sm cap_toggle">
 <p style="margin-top:5%;font-size: 18px;">Campus Ambassador Programme !</p> 
</div>

<div ng-show="hide() == 'events'" class="hidden-xs hidden-sm cap_toggle">
 <p style="margin-top:5%;font-size: 24px;"><a target="_blank" href="https://docs.google.com/spreadsheets/d/1X-DFnCHk0bXZAvABi3jRLL68vSgh2exItwuRHtIRgG0/edit#gid=2133793093">Events Schedule</a></p> 
</div>

<div ng-show="hide() == 'workshops'" class="hidden-xs hidden-sm cap_toggle">
 <p style="margin-top:5%;font-size: 24px;"><a target="_blank" href="https://docs.google.com/spreadsheets/d/1X-DFnCHk0bXZAvABi3jRLL68vSgh2exItwuRHtIRgG0/edit#gid=2133793093">Workshops Schedule</a></p> 
</div>