<div ng-hide="hide() == 'cap'" class="hidden-xs hidden-sm tempNav">
</div>

<div ng-show="hide() == 'main'" ui-sref="cap" class="hidden-xs hidden-sm cap_toggle">
 <p style="margin-top:5%;font-size: 18px;">Campus Ambassador Programme !</p> 
</div>

<div ng-show="hide() == 'events'" class="hidden-xs hidden-sm cap_toggle">
 <p style="margin-top:5%;font-size: 24px;">Events Schedule</p> 
</div>

<div ng-show="hide() == 'workshops'" class="hidden-xs hidden-sm cap_toggle">
 <p style="margin-top:5%;font-size: 24px;">Workshops Schedule</p> 
</div>

<span class="hidden-xs hidden-sm glyphicon glyphicon-home nav_icon" onclick="scrollTo(0,0);"></span>