<div style="z-index:8999;background-color: #1d2a3a;" class="navbar navbar-inverse navbar-fixed-top visible-xs visible-sm" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span style="background-color: #fcc852;" class="icon-bar"></span>
        <span style="background-color: #fcc852;" class="icon-bar"></span>
        <span style="background-color: #fcc852;" class="icon-bar"></span>
      </button>
      <a style="color: #fcc852;" class="hidden-sm navbar-brand">ChemClave'17</a>
    </div>
    <div style="color: #fcc852;" uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-click="nav.isCollapsed = !nav.isCollapsed" ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
        <li ng-click="nav.isCollapsed = !nav.isCollapsed" ui-sref-active="active"><a ui-sref="main" >Home</a></li>
        <li ng-click="nav.isCollapsed = !nav.isCollapsed" ui-sref-active="active"><a ui-sref="aboutus">About Us</a></li>
        <li ng-click="nav.isCollapsed = !nav.isCollapsed" ui-sref-active="active"><a ui-sref="events">Events</a></li>
        <li ng-click="nav.isCollapsed = !nav.isCollapsed" ui-sref-active="active"><a ui-sref="workshops">Workshops</a></li>
        <li ng-click="nav.isCollapsed = !nav.isCollapsed" ui-sref-active="active"><a ui-sref="sponsors">Sponsors</a></li>
        <li ng-click="nav.isCollapsed = !nav.isCollapsed" ui-sref-active="active"><a ui-sref="team">Team</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-click="nav.isCollapsed = !nav.isCollapsed" ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-click="nav.isCollapsed = !nav.isCollapsed" ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-click="nav.isCollapsed = !nav.isCollapsed" ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings">Settings</a></li>
        <li ng-click="nav.isCollapsed = !nav.isCollapsed" ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>