<div class="title col-xs-3 col-sm-3 col-md-3 col-lg-3">
  <span ui-sref="main" class="hidden-xs title1">ChemClave'17</span><br>
  <span class="hidden-xs title2">IIT Madras's Chemical Engineering Fest</span>
</div>

<div class="tabs aboutus hidden-xs hidden-sm col-sm-1 col-md-1 col-lg-1">
 <span class="tab" ui-sref="aboutus">ABOUT US</span>
</div>

<div class="tabs events hidden-xs hidden-sm col-sm-1 col-md-1 col-lg-1">
 <span class="tab" ui-sref="events">EVENTS</span>
</div>

<div class="tabs workshops hidden-xs hidden-sm col-sm-1 col-md-1 col-lg-1">
 <span class="tab" ui-sref="workshops">WORKSHOPS</span>
</div>

<div class="tabs sponsors hidden-xs hidden-sm col-sm-1 col-md-1 col-lg-1">
 <span class="tab" ui-sref="sponsors">SPONSORS</span>
</div>

<div class="tabs team hidden-xs hidden-sm col-sm-1 col-md-1 col-lg-1">
 <span class="tab" ui-sref="team">OUR TEAM</span>
</div>

  <img class="nav2" style="z-index:1;" src="../../assets/images/white_bg.png">
  <img class="nav2" style="z-index:2;" src="../../assets/images/outline.png">
  <img class="nav2" style="z-index:3;" src="../../assets/images/about.png">
  <img class="nav2" style="z-index:4;" src="../../assets/images/events.png">
  <img class="nav2" style="z-index:5;" src="../../assets/images/workshop.png">
  <img class="nav2" style="z-index:6;" src="../../assets/images/spons.png">
  <img class="nav2" style="z-index:7;" src="../../assets/images/contacts.png">
  <img class="nav2" style="z-index:8;" src="../../assets/images/home.png"> 