<div style="position:fixed;right:3vw;top:40px;z-index: 8999;cursor:pointer;" class="hidden-xs" type="button" ng-click="openNav()">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

<div style="position:fixed;right:5px;top:40px;z-index: 8999;cursor:pointer;" class="visible-xs" type="button" ng-click="openNav()">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

<!-- The overlay -->
<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <a href="#" ui-sref='main'>Home</a>
    <a href="#" ui-sref='events'>Events</a>
    <a href="#" ui-sref='workshops'>Workshops</a>
    <a href="#" ui-sref="sponsors">Sponsors</a>
    <a href="#" ui-sref="team">Our Team</a>
    <a class="hidden-md hidden-lg" href="#" ui-sref="cap">Ambassador</a>
    <a href="#" ui-sref="login" ng-hide='nav.isLoggedIn()'>Login</a>
    <a href="#" ui-sref="settings" ng-show="nav.isLoggedIn()">User Profile</a>
    <a href="#" ui-sref="logout" ng-show="nav.isLoggedIn()">Logout</a>
  </div>

</div>

