.sponsors_page{
  width:100vw;
  height:100vh;
  z-index:-100;
  position:fixed;
  background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('../assets/images/sponsors.jpg');
  background-size: 100% 100%;
}

.spons_image{
  width:100%;	
}