.main_page{
  width:100vw;
  height:100vh;
  position:absolute;
  background-size: 100% 100%;
  background-image: url('../assets/images/main.png');
}

.nav1{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.aboutus_main{
  top:65vh;
  left: 15vw;
}

.events_main{
  top:40vh;
  left: 25vw;
}

.workshops_main{
  top:28vh;
  left:45.5vw;
}

.sponsors_main{
  top:40vh;
  right:25vw;
}

.team_main{
  top:65vh;
  right:15vw;
}

.main_content{
  position: absolute;
  z-index: 10;
  top:86vh;
  left:5vw;
  color: #b70505;
  background-color: #fcc852;
  font-family: 'Josefin Sans', sans-serif; 
}

.main_mobile_content{
  position: absolute;
  z-index: 10;
  top:86vh;
  left: 5vw;
  color: #b70505;
  background-color: #fcc852;
  font-family: 'Josefin Sans', sans-serif; 
}

.user_tabs{
  cursor: pointer;
  font-size: 24px;
  margin-left: 30%;
}

.U_tabs{
  font-size: 24px;
  margin-left: 30%;
}

.mobile_tabs{
  cursor: pointer;
  font-size: 18px;
  margin-left: 10%;
}

.mobileU_tabs{
  font-size: 18px;
  margin-left: 10%;
}

.profile_content{
  color: #b70505;
  font-family: 'Josefin Sans', sans-serif;
}

.custom_modal{
  background-color: rgba(0,0,0,0.8);
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.anim{
  animation: fadeIn 7s linear;
}

.tab_bg{
  animation: fadeIn 7s linear;
}

.about_bar{
  animation: fadeIn 2s linear;
}

.spons_bar{
  animation: fadeIn 5s linear;
}

.workshop_bar{
  animation: fadeIn 4s linear;
}

.events_bar{
  animation: fadeIn 3s linear;
}

.contacts_bar{
  animation: fadeIn 6s linear;
}

@keyframes fadeIn{
  0%{opacity:0;}
  80%{opacity:0;}
  100%{opacity:1;}
}