<div class="main_page">
</div>

<navbar></navbar>

<div class="auth_content container">
 <div style="position: absolute;top:3vh;left:1vw;" class="hidden-xs col-sm-2 col-md-2 col-lg-2">
  <div class="col-sm-6 col-md-6 col-lg-6">
   <img src="../../assets/images/iitm.png" style="width:100%;">
  </div>

  <div class="col-sm-6 col-md-6 col-lg-6">
   <img src="../../assets/images/ches.png" style="width:200%;">
  </div>
 </div> 
  <h1 class="heading">ChemClave</h1>
  <h1 class="heading">2017</h1>
   <div class="visible-xs col-xs-12 techotron" data-toggle="modal" data-target="#eventpayment">
     <h3 style="text-align:center;">Instructions for payment, to participate in ChemClave Events & Workshops<br><br>Click here!</h3>
   </div>
    <h3 style="text-align: center;">
      Greetings from Chemical Engineering Society (ChES)!
      ChES in association with the Department of Chemical Engineering, IIT Madras is proud to present the 10th edition of its Annual Technical Festival ChemClave from March 3th - 5th, 2017. We call it our annual celebration of the Spirit of Chemical Engineering rather than just some annual technical fest. 
    </h3>

    <h3 style="text-align: center;">
           Born in 2008, with the dream of promoting technology, scientific thinking and innovation in the field of Chemical Engineering, ChemClave has passed 9 golden editions and today it is successfully planning towards its 10th edition. It provides an opportunity to all the budding Chemical Engineers to compete, exchange ideas, collaborate and learn and of course have fun all under the same roof.We cordially invite you to take part in our fest and  boost your intellect.

    </h3>
</div>

 <div style="position:absolute;left:1vw;bottom:15vh;" class="row">
   <div class="hidden-xs col-sm-12 col-md-12 col-lg-12 techotron" data-toggle="modal" data-target="#eventpayment">
    <h3 style="text-align:center;">Instructions for payment, to participate in ChemClave Events & Workshops</h3>
   </div>
 </div>
 <div style="position:absolute;left:1vw;bottom:0vh;" class="row">  
  <div class="hidden-xs col-sm-12 col-md-12 col-lg-12 techotron" ng-click="techotron()">
    <h3 style="text-align:center;">Click here to Register for Techtron Workshops</h3>
   </div>
 </div>  
 
<!--popup modal-->


<div id="eventpayment" class="modal fade" style="z-index:9999;" tabindex="-1" role="dialog">
 <div class="modal-dialog" role="document">
  <div style="box-shadow: 5px 5px 20px 10px #cc3921;" class="modal-content custom_modal">
   <div class="modal-body">
    <h3>Kindly pay the registration fee of Rs.200 to participate in all the ChemClave events and workshops</h3><br>
    <h3>NOTE: The downloaded payment receipt must be submitted during ChemClave</h3>
    <h2><a target="_blank" href="../../assets/files/registrations.pdf">Payment Procedure</a></h2>
   </div>
     <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- accomprompt-->

<div id="accomprompt" class="modal fade" style="z-index:9999;" tabindex="-1" role="dialog">
 <div class="modal-dialog" role="document">
  <div style="box-shadow:5px 5px 20px 10px #cc3921;" class="modal-content custom_modal">
   <div class="modal-body">
    <h3>Do you wish to request for accommodation in IIT Madras during your stay for chemclave ?</h3>
   </div>
     <div class="modal-footer">
        <button class="btn btn-danger" ng-click="accomresult('true')" data-dismiss="modal">Yes</button>
        <button class="btn btn-primary" ng-click="accomresult('false')" data-dismiss="modal">No</button>
        <button class="btn btn-default" data-dismiss="modal">Remind me later</button>
     </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

