<div class="auth_pages">
</div>

<navbar></navbar>

<div class="auth_content container">
 <h1 class="heading">Register</h1>
  <div class="row">
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Name</label>
          <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span> 
          <input style="background: transparent;color: white;" type="text" name="name" class="form-control" ng-model="vm.user.name"
                 required/>
          </div>       
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            A name is required
          </p>
        </div>
       
       <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>College</label>
          <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-university"></i></span>
          <input style="background: transparent;color: white;" type="text" name="college" class="form-control" ng-model="vm.user.college"
                 required/>
          </div>      
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            Mention your college name
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Mobile no.</label>
          <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
          <input style="background: transparent;color: white;" type="text" name="mobile" class="form-control" ng-model="vm.user.mobile"
                 required/>
          </div>
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            Mention your number
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>City</label>
          <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
          <input style="background: transparent;color: white;" type="text" name="city" class="form-control" ng-model="vm.user.city"
                 required/>
           </div>      
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            Mention your city
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Email</label>
          <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input style="background: transparent;color: white;" type="email" name="email" class="form-control" ng-model="vm.user.email"
                 required
                 mongoose-error/>
           </div>      
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <label>Password</label>
          <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <input style="background: transparent;color: white;" type="password" name="password" class="form-control" ng-model="vm.user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          </div>      
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Confirm Password</label>
          <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <input style="background: transparent;color: white;" type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.password"
                 ng-minlength="3" required/>
          </div>      
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>
        </div>

        <div>
          <button style="background:transparent;color:white;border:1px solid white;" class="btn btn-lg" type="submit">
            Sign up
          </button>
          <a style="background:transparent;color:white;border:1px solid white;" class="btn btn-lg" ui-sref="login">
            Login
          </a>
        </div>
      </form>
    </div>
  </div>
  <hr> 
</div>
