<div class="workshops_page">
</div>

<navbar></navbar>

<div class="auth_content container">
 <h1 class="heading">Workshops</h1>
  <div style="text-align: center;" class="col-xs-12 visible-xs">
    <a href="https://docs.google.com/spreadsheets/d/1X-DFnCHk0bXZAvABi3jRLL68vSgh2exItwuRHtIRgG0/edit#gid=2133793093" target="_blank" style="background:transparent;color:white;border:1px solid white;" class="btn btn-lg">Workshops Schedule</a>
  </div><br><br><br>
 <div class="visible-xs col-xs-12" ng-click="techotron()">
   <h3 style="text-align:center;border:3px solid white;cursor:pointer;" ng-click="techotron()">Click here to Register for Techotron Workshops</h3><br>
 </div>
 <div style="cursor:pointer;" ng-click="triggerWorkshop(workshop)" data-toggle="modal" data-target="#workshopDetails" ng-repeat="workshop in festWorkshops" class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
  <img style="width:100%;" src="../../assets/images/{{workshopImages[$index]}}.png">
  <h4 style="text-align:center;">{{workshop.name}}</h4>
 </div>
</div> 

<!--modals-->
<div id="workshopDetails" class="modal fade" style="z-index:9999;" tabindex="-1" role="dialog">
 <div class="modal-dialog modal-lg" role="document">
  <div style="box-shadow: 5px 5px 20px 10px #ffeb3b;" class="modal-content custom_modal">
  <div class="modal-header">
   <h4>{{currentWorkshop.name}}</h4>
  </div>
   <div class="modal-body">
     <div>

      <!-- Nav tabs -->
       <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a style="color:white;font-size:16px;cursor:pointer;" data-target="#description" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
        <li role="presentation"><a style="color:white;font-size:16px;cursor:pointer;" data-target="#ps" aria-controls="problemstatement" role="tab" data-toggle="tab">Problem Statement</a></li>
        <li role="presentation"><a style="color:white;font-size:16px;cursor:pointer;" data-target="#rules" aria-controls="rules" role="tab" data-toggle="tab">Rules</a></li>
        <li role="presentation"><a style="color:white;font-size:16px;cursor:pointer;" data-target="#incentives" aria-controls="incentives" role="tab" data-toggle="tab">Incentives</a></li>
        <li role="presentation"><a style="color:white;font-size:16px;cursor:pointer;" data-target="#faq" aria-controls="faq" role="tab" data-toggle="tab">FAQ</a></li>
        <li role="presentation"><a style="color:white;font-size:16px;cursor:pointer;" data-target="#registration" aria-controls="registration" role="tab" data-toggle="tab">Registration</a></li>
        <li role="presentation"><a style="color:white;font-size:16px;cursor:pointer;" data-target="#contact" aria-controls="contact" role="tab" data-toggle="tab">Reach Us</a></li>
       </ul>
     <!-- Tab panes -->
     <div style="color:#50ce02;" class="tab-content">
      <div style="background-color: transparent;" role="tabpanel" class="tab-pane active" id="description">
        <h4>{{currentWorkshop.event_info}}</h4>
      </div>
      <div style="background-color: transparent;" role="tabpanel" class="tab-pane" id="ps">
        <h4>{{currentWorkshop.problem_statement}}</h4>
      </div>
      <div style="background-color: transparent;" role="tabpanel" class="tab-pane" id="rules">
        <h4 ng-repeat="rule in currentWorkshop.rules">{{rule}}</h4><br>
      </div>
    <div style="background-color: transparent;" role="tabpanel" class="tab-pane" id="incentives">
        <h4 ng-repeat="incentive in currentWorkshop.incentives">{{incentive}}</h4><br>
      </div>
      <div style="background-color: transparent;" role="tabpanel" class="tab-pane" id="faq">
        <div ng-repeat="faq in currentWorkshop.QA"> 
        <h4>{{faq.question}}</h4>
        <h4>{{faq.answer}}</h4><hr>
       </div> 
      </div>
      <div style="background-color: transparent;" role="tabpanel" class="tab-pane" id="contact">
        <h4 ng-repeat="contact in currentWorkshop.contacts">{{contact}}</h4>
      </div>
      <div style="background-color: transparent;" role="tabpanel" class="tab-pane" id="registration">
        <h4>{{currentWorkshop.registration_mode}}</h4>
        <h4 ng-show="!isLoggedIn() && currentWorkshop.active">Please login to register</h4>
        <button ng-click="workshopRegister()" ng-show="isLoggedIn() && currentWorkshop.active && !Check(currentWorkshop.name)" class="btn btn-danger">Register</button>
        <button ng-click="workshopUnregister()" ng-show="isLoggedIn() && currentWorkshop.active && Check(currentWorkshop.name)" class="btn btn-danger">Unregister</button>
      </div>
     </div>

    </div> 
   </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 